@charset "UTF-8";

* {
  box-sizing: border-box;
}

.nav-list {  /* リストの親、`ul`に対しての装飾 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  list-style: none;
  margin: 0;
  padding: 60px 0 30px;
  background: rgba(125, 125, 125, 0.95);
  text-align: center;
}

.nav-list>li a {  /* リストの子要素が内包するaタグに関する記載 */
  display: block;
  padding: 10px 1em;
  text-decoration: none;
  color: white;
}

.hidden {  /* 付与される非表示クラス */
  display: none;
}